html {
    background-image: url(/assets/images/bkg.jpg);
    background-repeat: no-repeat center;
    background-size: cover
}

.shout-out {
    background-color:black;
    font-family: pixel;
    color:yellow
}

@font-face {
    font-family: pixel;
    src:url(/assets/pixel.ttf);
} 