* {
    background-color: black;
}

.shout-out {
    font-family: pixel;
    color:yellow;
    z-index:auto;
}

@font-face {
    font-family: pixel;
    src:url(/assets/pixel.ttf);
} 

.btn-primary {
    background-color: purple !important;
    border-color:purple !important;
}